*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgba(15, 33, 103, .99);
    color: #fff;
    background-image: url(maldives.png) ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.intro{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 54px;
}
.desc{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 70px;
}
.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.wrapper .wrap{
    position: relative;
    width: 670px;
    height: 420px;
    background:rgba(15, 33, 103, 0.45);
    backdrop-filter: blur(7px);
    color: #fff;
    border-radius: 45px;
    padding: 30px 40px;
}
.wrapper .wrap h1{
    text-align: center;
    font-size: 38px;
    margin-bottom: 25px;
}

.wrapper .wrap .btn{
    width: 50%;
    height: 50px;
    background: #0F2167;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    margin-left:142px ;
    margin-bottom:5px ;
    margin-top:5px ;
}

.wrapper .wrap .sub{
    width: 60%;
    height: 70px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 35px;
    color: #0F2167;
    font-weight: 600;
    margin-left:112px ;
    margin-bottom:5px ;
    margin-top: 20px ;
}