/* selectors *{
    background-color: bisque;
}

h2, p, div{
    color:red;
}
.p1{
    color: blue;
    font-size: 30px;
}

#p4{
    color: green;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
} */

/* descendant selector 
section div p strong{
    color: red;
}

section div h2 strong{
    color: brown;
}

section div ul li{
    color: blueviolet;
} */

/* box model
h1{
    border: 3px orange solid;
    width: 76px;
    padding: 6px 40px;
    margin: 10px 10px 100px 10px;
} */
/* margin auto
div{
    height: 200px;
    background-color: red;
    width: 50%;
    margin: 0px auto;
} */

/* .height{
    background-color: blue;
    width: 300px;
    height: 300px;
    border-radius: 23%;
} */

/* p{
    text-align: right;
    direction: rtl;
} */

/* p{
    letter-spacing: 5px;
    word-spacing: 50px;
    line-height: 100px;
} */

/* shadow, decoration
p{
    color: purple;
    text-shadow: 6px 6px 2px black;
}

div{
    background-color: palegreen;
    height: 50px;
    width: 50px;
    box-shadow: 5px 5px 6px 5px black;
}

a{
    text-decoration: none;
    color: black;
    transition: ease 1s;
}

a:hover{
    
    color: pink;
} */

div{
    background-color: palegreen;
    width: 200px;
    white-space: pre-line;
}