.parent{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    background: brown;
    height: 400px;
}

.header{
    background-color: blue;
    grid-column: 1/-1;
}

.menu{
    background: seagreen;
    grid-row: 2/5;
}

.container{
    background: gray;
    grid-column: 2/3;
    grid-row: 2/5;
}

.details{
    background-color: seagreen;
    grid-row: 2/5;
}

.footer{
    background: blue;
    grid-column: 1/-1;
}