*{
    background-color: bisque;
}

h2, p, div{
    color:red;
}
.p1{
    color: blue;
    font-size: 30px;
}

#p4{
    color: green;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
}