*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-weight: 600;
}

.navbar{
    background: #0F2167;
    font-family: monospace;
    padding-right: 15px ;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navdiv a{
    width: 30px;
    color: white;
    font-size: 38px;
    padding-right: 40px;
}

.logo a img{
    padding-top: 5px;
    padding-left: 10px;
    width: 90px;
}

section{
    padding: 30px 10px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background-color: #ffffff;

}

.footer-content h4{
    color: #051248;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li{
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-content li a{
    display: block;
    color: #051248;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #0F2167;
}

.footer img{
    height: 80px;
}

.footer-content p{
    color: #051248;
    font-size: 20px ;
    line-height: 30px;
    margin: 5px 0;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #051248;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover{
    color: #0F2167;
    transform: translateY(-5px);
}

.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-col{
    flex-basis: 70%;
    padding-left: 30px;
}

.right-col{
    flex-basis: 25%;
}

.left-col h1{
    color: #051248;
    font-weight: 600;
    margin-bottom: 30px;
}
.left-col p{
    color: #333;
    font-weight: 400;
}

.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #051248;
}

.house-img{
    flex-basis: 40%;
}

.house-info{
    flex-basis: 58%;
}

.house-img img{
    width: 100%;
    border-radius: 12px;
}

.house-info h3{
    font-weight: 600;
    color: #051248;
    font-size: 22px;
    margin : 4px 0;
}

.house-info p{
    color: #333;
}

.house-info i{
    color: #051248;
    font-size: 18px;
    margin: 10px 1px;
}

.house-price{
    text-align: right;
}

.house-price h4{
    font-size: 20px;
    color: #051248;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
    color: #051248;
}

.sidebar{
    border: 1px solid #555;
    border-radius: 15px;
    padding: 20px 30px;
    margin-top: 30px;
}

.sidebar h2{
    font-weight: 500;
    color: #051248;
}

.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
    color: #051248;
}

.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}

.filter p{
    flex: 1;
}

.filter input{
    margin-right: 15px;
    cursor: pointer;
}
.siderbar-link{
    text-align: right;
    margin: 20px 0;
}

.siderbar-link a{
    text-decoration: none;
    color: #051248;
    transition: all 0.3s ease;
}

.siderbar-link a:hover{
    color: #1a3396;
}

.pagination{
    color: #051248;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.pagination i{
    color: #051248;
    font-size: 30px;
    width: 15px;
    margin: 10px 20px;
}
.pagination span{
    font-weight: 400;
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.pagination .current{
    background-color: #051248;
    color: #fff;
}